{% extends 'base.html.twig' %}

{% block title %}Créer un modèle{% endblock %}

{%  form_theme form 'phone/_collection.html.twig' %}

{% block body %}

    <div class="container-fluid my-5">
        <div class="col-6">
            {{ form_start(form) }}

            {{ form_widget(form) }}


            <button type="submit" class="btn btn-secondary">Créer le nouveau modèle</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>


    </script>


{% endblock %}